# Server Configuration
PORT=8000
NODE_ENV=development

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.ooztlyqgcwftbnuxuslg:finalproject123@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.ooztlyqgcwftbnuxuslg:finalproject123@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

# JWT Secret (IMPORTANT: Change this in production!)
JWT_SECRET="purwadhika"
JWT_SECRET_KEY="purwadhika"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=finalproject
CLOUDINARY_API_KEY=815719427952373
CLOUDINARY_API_SECRET=QC-LdNX70dgnn73rHxVE83WmVXs

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email Configuration (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tdoruskurnia@gmail.com
SMTP_PASS=szxurfoexwquvfrz

# Frontend URL (Required for email links!)
FRONTEND_URL=http://localhost:3000

# Cron Job Secret (for automated tasks)
CRON_SECRET=your-cron-secret-key-here


